name: docker-pipeline

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: get repo
        uses: actions/checkout@v3

      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/pipe:latest .

      - name: push image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/pipe:latest
