name: Docker CI

on:
  push:
    paths:
      - Dockerfile
      - html/**
  pull_request:
    paths:
      - Dockerfile
      - html/**

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    
      - uses: actions/checkout@v4

      
      - name: Build Docker image
        run: docker build -t my-docker-image .
