name: Terraform CI

on:
  push:
    paths:
      - terraform/**
  pull_request:
    paths:
      - terraform/**

jobs:
  terraform:
    runs-on: ubuntu-latest # ms

    steps:
      # get the code
      - uses: actions/checkout@v4

      # install terraform
      - uses: hashicorp/setup-terraform@v3

      # terraform formatting (linting- skimming through not testing) 
      - name: Terraform fmt
        run: terraform fmt -check -recursive

      
      - name: Terraform init
        run: terraform init -backend=false

      
      - name: Terraform validate
        run: terraform validate
